{
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties"
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "module:metro-react-native-babel-preset",
    "@babel/preset-flow"
  ],
  "env": {
    "production": {
      "plugins": ["ignite-ignore-reactotron"]
    }
  }
}
